:root {
  --color00: #333;
  --color01: #5d6760;
  --color02: #76847a;
  --color03: #87968b;
  --color99: #f6f3ed;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--color00);
  background-color: var(--color01);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#layout-container {
  height: 100%;
  min-height: 100%;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

#layout {
  width: 30%;
  background-color: var(--color02);
}

#layout-header h1 {
  margin: 0;
  font-size: 1.5em;
  color: var(--color99);
}

#layout-footer {
  border-top: thin solid var(--color03);
  color: var(--color99);
}

#layout-footer a {
  color: var(--color99);
  text-decoration: none;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.layout {
  padding: 20px;
}

.button-like-link {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color03);
  color: var(--color99);
  border: 1px solid var(--color03);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.button-like-link:hover {
  background-color: var(--color02);
}

.button-like-link:active {
  background-color: var(--color01);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color99);
}

.input-field {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--color99);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: var(--color01);
  box-shadow: 0 0 5px var(--color01);
}
